#zlists .mui-table-view {
	margin-bottom: 35px;
}
#zlists .mui-table-view-cell{
	height: 80px;
}
#zlists .mui-ellipsis{
	margin-top: 15px;
}
.mui-content{
	margin-top: -15px;
}
#slider2s{
	text-align: center;
	box-shadow: 0px;
}
#slider2s p{
	font-size: 20px;
	position: relative;
	margin-top: auto;
	paddint-top: 50px;
	height: 32px;
}
#zlists{
	margin-top: -17px;
}