.tab{
	height:20px;
	line-height:20px;
	font-size:10px;
	text-align:center;
}
.textarea{
	margin: 5px;
	margin-top: 10px;
}
.btn{
	margin-top:20px;
	text-align: center;
}
#chkRem{
	margin-right: 5px;
	height: 25px;
	width: 25px;
}
.form .mui-input-row{
	height: 40px;
}
.form label{
	width: 120px;
	font-size: 15px;
}