.search{
	margin:0 5px;
	position: absolute;
	width: 92%;
	box-shadow: 0px;
}
#se{
	position: relative;
}
#slists{
	position: absolute;
	margin-top: 45px;
	margin-left: -10px;
	width: 120%;
	background-color: white;
}